<style>
        * {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 400;
            cursor: default;
        }

        #principal {
            border: 1px solid #e74c3c;
        }

        #titulo {
            text-align:center;
            color:#d35400;
        }

        #placar {
            display:flex;
            align-items: center;
            justify-content: center;
        }

        #jogador, #computador{
            position: relative;
            flex-grow: 1;
            border-radius: 5px; 
            width: 200px;
            padding: 20px;
            color:#fff;
        }

        #jogador h2, #computador h2 {
            margin: 0;
            padding: 0;
        }

        #jogador {
            background-color: #e74c3c;
        }

        #jogador-nome, #computador-nome {
            font-size: 24px;
        }

        #jogador-nome {
            text-align: left; 
        }

        #computador-nome {
            text-align: right;
        }

        #jogador-pontos, #computador-pontos {
            position: absolute;
            top: 8px;
            font-size: 52px;
        }

        #jogador-pontos{
            right: 20px;
        }
        #computador-pontos{
            left: 20px;
        }

        #jogador #jogador-escolha, #computador #computador-escolha{
            list-style: none; 
            text-align: center;
            margin: 30px 0 0;
            padding: 0;
        }

       #jogador #jogador-escolha li, #computador #computador-escolha li{
            display: inline;
            padding: 0 15px;
        }

        #jogador #jogador-escolha a, #computador #computador-escolha a {
            opacity: .2;
        }
        #jogador #jogador-escolha a:hover,
        #jogador #jogador-escolha a.selecionado, #computador #computador-escolha a.selecionado {
            opacity: 1;
        }

        #computador #computador-escolha a:hover {
            opacity: 1;
        }

        #jogador #jogador-escolha img, #computador #computador-escolha img {
            max-width: 200px;
        }

        #computador{
            background-color: #00ff40; 
        }

        #versus {
            font-size: 80px;
            padding: 0 40px;
        }

        #mensagem {
            background-color:#bdc3c7;
            border-radius: 5px;
            font-size: 24px;
            text-align: center;
            margin: 20px 0;
            padding: 20px;
        }
    </style>